@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr 10fr 1fr/ 1fr 6fr;
    height: 100vh;
    width: auto;
    font-family: 'Ubuntu';
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: rgb(37, 42, 58);
    padding: 1rem;
    color: white;
}

#logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 3rem;
    font-weight: 700;
}

nav {
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgb(55, 52, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    font-weight: 500;
    color: white;
    padding: 2rem;
    font-size: 1.75rem;
}

#home {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#projects {
    cursor: pointer;
}

main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(201, 193, 193);
}

footer {
    grid-area: 3 / 1 / 4 / 3;
    background-color: rgb(37, 42, 58);
}